<!doctype html>
  <head>
    <link rel="stylesheet" href="/static/css/parallax.css">
    <title>CIS550 Project | Home</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
  </head>

  <body>
    <div id="title" class="slide header">
  <h1>2018 Trends</h1>
  <br>
  <h2>Explore the economic trends, political shifts, and news headlines that defined 2018.</h2>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1>Let's explore!</h1>
    <p>Type two dates in the format 'MM/DD/YYYY' to explore trends in the range you're interested in.</p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="errors">
          <h3>Errors:</h3>
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

    <form method=post enctype=multipart/form-data>
      <h5>First Date:</h5><input type="date" name=first_date placeholder='MM/DD/YYYY', min="2018-01-01" max="2018-12-13">

      <h5>Second Date:</h5><input type="date" name=second_date placeholder='MM/DD/YYYY', min="2018-01-01" max="2018-12-13">
      <br><br>
      <h5>Select Trend:</h5><select name="data_selector">
              <option value="S&P 500">S&P 500</option>
              <option value="Dow-Jones">Dow-Jones</option>
              <option value="NASDAQ">NASDAQ</option>
              <option value="Presidential Approval Rating">Presidential Approval Rating</option>
              <option value="Generic Ballot">Generic Ballot</option>
      </select>

      <input type=submit value=Search id="upload-button">

    </form>
  </div>
</div>

<div id="slide4" class="slide header">
    <h1>Please check out our other cool features!</h1>
</div>
  </body>
</html>
